body {
  font-family: "Balsamiq Sans", cursive;
}

.container-fluid {
  margin: 0;
}

.header {
  background-color: #2874a6;
  text-align: center;
  padding: 10px;
}

.side {
  border-style: solid;
  height: 500px;
  background-color: #138d75;
}

#button {
  margin: 10px;
  background-color: #2874a6;
}

.dashboard {
  border-style: solid;
  margin: 10px;
}
.row {
  margin-left: 15px;
  height: 250px;
}

.forecast {
  border-style: solid;
  height: 300px;
  margin: 20px 10px 10px 10px;
}

.forecastDiv {
  background-color: #2874a6;
  margin: 10px;
  border-style: solid;
  width: 15%;
  height: 200px;
  float: left;
}
.buttons {
  background-color: white;
  color: #2874a6;
  width: 200px;
  padding: 10px;
  margin: 5px;
}
